<div class="container mt-4">
    <h2>Task List</h2>

    <!-- Button for Add Task -->
    <div class="d-flex justify-content-end mb-2">
        <button class="btn btn-success" [routerLink]="'/add-task'">Add Task</button>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks; let i = index">
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status ? 'Completed' : 'Not Completed' }}</td>
                    <td>
                        <button class="btn btn-primary mr-2" [routerLink]="['/tasks', i]">Edit</button>
                        <button class="btn btn-danger" (click)="showDeleteModal(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Delete Confirmation Modal -->
    <app-delete-confirmation [isVisible]="isDeleteModalVisible" (cancel)="hideDeleteModal()" (delete)="onDelete()">
    </app-delete-confirmation>
</div>